/* police personnalisé */
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Regular.ttf') format('truetype')
}
/* élements principaux de la page */
body 
{
    font-family: Raleway, serif;
}
#bloc_page
{
    margin: 3em;
}
/* header,nav */
header
{
    display: flex;
    justify-content:space-between;
}
#logo
{
    display: flex;
    height: 70px;
    width: 70px;
}

.navigation ul 
{
    list-style-type: none;
    display: flex;
}
.navigation li
{
    padding-right: 30px;
    padding-left: 30px;
}
.navigation a
{
    text-decoration: none;
    color: black;
}

.navigation a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 61px;

}
.inscription a
{
    color: #0065FC;
}

/* section search */
.button_search
 {
    display: flex;
 }

/* div filtre */

/* section (article) */


/* setion(aside) */

/* section activité */

/* footer */