/* police personnalisé */
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Regular.ttf') format('truetype')
}
/* élements principaux de la page */
body 
{
    font-family: Raleway, serif;
    margin: 0;
}
#bloc_page
{
    margin-right: 3em;
    margin-left: 3em;
}
/* header,nav */
header
{
    display: flex;
    justify-content:space-between;
}
#logo
{
    display: flex;
    height: 70px;
    width: 70px;
    padding-top: 25px;
}

.navigation ul 
{
    list-style-type: none;
    display: flex;
    margin-top: 0;
}
.navigation li
{
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 30px;
}

.navigation li:hover{
    border-top: 3px solid #0065FC;
}

.navigation a
{
    text-decoration: none;
    color: black;

}

.navigation a:hover
{
    color: #0065FC;
}
.inscription a
{
    color: #0065FC;
}

/* section search */
.button_search
 {
    display: flex;
    margin-top: 2rem;
 }
.icone_marker
{
    padding: 1rem;
    border-radius: 10px 0 0 10px;
    min-height: 3rem;
    height: 3rem;
    min-width: 3rem;
    border: 2px solid #f2f2f2;
}

.icone_marker i
{
    font-size: 1rem;
}

.search_input
{
    min-height:3rem ;
    height: 3rem;
    border: 2px solid #f2f2f2;
    padding-left: 1rem;
}
input::placeholder
{
    font-weight: bold;
    color: black;
    font-size: large;
}

 .rechercher
 {
  min-height: 3rem;
  height: 3rem;
  border: 2px solid #0065FC;
  background-color: #0065FC;
  color: #ffffff;
  border-radius: 0 10px 10px 0;
  padding: 0 1rem;
  cursor: pointer;
  font-size: large;
 }


/* div filtre */
.filtres
{
    display: flex;
}
.filtre_hebergements
{
    display: flex;
}
.element
{
    display: flex;
    padding-left: 5em;
    margin-right: 5em;
}



/* section (article) */


/* setion(aside) */

/* section activité */

/* footer */