#bloc_page
{
    margin: 0 0rem;
}
header
{
    padding: 0 1.2rem;
}
#logo
{
    text-align: left;
    flex-grow: 1;
}
.navigation
{
    order: 2;
    flex-basis: 1000px;
}
.inscription
{
    order: 1;
    text-align: right;
    padding: 50px 0;
}

.navigation ul
{
    flex-grow: 1;
}
.navigation li
{
    flex-grow: 1;
    padding: 20px 30px 10px;
    text-align: center;
    margin: 0 -1.2rem 2rem;
}
.navigation li:hover{
    border-bottom: 2px solid #0065FC;
    border-top: none;
}
.navigation li{
    border-bottom: 2px solid #f2f2f2;
    border-top: none;
}
#search
{
    margin: 0 1.6rem 0 1.6rem;
}
.search_input
{
    width: 12rem;
}
.info
{
    margin: 2rem 1.3rem;

}
.Rechercher-texte
 {
     display: none;
 }
.Rechercher-icone
 {
     display: block;
 }
#hébergements
{
    flex-direction: column-reverse;
}

aside
{
    width: 100%;
    border-radius: unset;
}

.hebergement
{
    width: 100%;
    border-radius: unset;
    background-color: transparent;
}

.populaire1
{
    width: 79vw
}

.hebergement1
{
    width: 79vw
}

.activite
{
    flex-direction: column;
}
#activités h2
{
    margin: 2rem 0 2rem 1.6rem;
}
.activité_b, .activité_d
{
    flex-wrap: wrap;
}

.activité1, .activité2, .activité3, .activité4, .activité5,.activité6
{
    width: 79vw;
    height: 50vw; 
}

.activité1 img, .activité2 img, .activité3 img, .activité4 img, .activité5 img,.activité6 img
{
    height: 40vw;
}

.activité_a, .activité_b, .activité_c, .activité_d
{
    width: 100%;
    justify-content: center;
}

.activite figcaption
{
    font-size: 3vw;
}

footer
{
    flex-wrap: wrap;
}

.nos_hebergements, .a_propos, .assistance
{
    width: 100%;
    margin-left: 13vw;
}

.nos_hebergements, .a_propos
{
    margin-bottom:2.5rem;
}

